:root {
  /* basic color */
  --body-color: #ffffff;

  /* main color variation  */
  --main-blue: #3692ff;
  --lite-blue: #e6f2ff;
  --deep-blue: #184172;

  /* W to B */
  --grey-dark: #9ca3af;
  --grey-lite: #f3f4f6;

  /* font */
  --text-normal: #1f2937;
  --text-mid: #1f2937;
  --text-lite: #1f2937;
  --text-dim: #262626;
  --text-ilike: #333333;
}
