@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
    --primary-color-50: #E6F2FF;
    --primary-color-100: #3692FF;
    --primary-color-200: #1967D6;
    --primary-color-300: #1251AA;
    --error-color: #F74747;
    --secondary-color-gray900: #111827;
    --secondary-color-gray800: #1F2937;
    --secondary-color-gray700: #374151;
    --secondary-color-gray600: #4B5563;
    --secondary-color-gray500: #6B7280;
    --secondary-color-gray400: #9CA3AF;
    --secondary-color-gray200: #E5E7EB;
    --secondary-color-gray100: #F3F4F6;
    --secondary-color-gray50: #F9FAFB;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#main_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.logo_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.login_section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
}

.login_text {
    font-size: 18px;
    font-weight: 600;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin-bottom: 20px;
}

.login_input {
    width: 645px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--secondary-color-gray100);
    border: none;
    margin-bottom: 10px;
    padding-left: 20px;
}

input:focus {
    border: 2px solid var(--primary-color-100);
    outline: none;
}

input::placeholder {
    color: var(--secondary-color-gray400);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

input {
    box-sizing: border-box;
    border: 2px solid grey;
}

i {
    width: 20px;
    height: 20px;
    color: var(--secondary-color-gray600);
}

.password_container {
    width: 645px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--secondary-color-gray100);
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
}

.eye_icon {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}

#email_error,
#pw_error {
    font-size: 13px;
    font-weight: 500;
    color: var(--error-color);
    margin-bottom: -13px;
    text-align: end;
}

#login_button {
    background-color: var(--secondary-color-gray400);
    width: 100%;
    height: 56px;
    border-radius: 40px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color-gray100);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login_button:hover {
    background-color: var(--primary-color-100);
}

#simple_logins {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-50);
    height: 74px;
    border-radius: 8px;
    margin-top: 10px;
}

#simple_login_text {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color-gray800);
    margin-left: 20px;
}

#simple_login_icons {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.icons {
    border-radius: 50%;
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

#simple_login_icons a {
    display: inline-block;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color-gray800);
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
}