:root {
    /* Primary Colors */
    --primary-100: #3692FF;
    --primary-200: #1967D6;
    --primary-300: #1251AA;

    /* Error Color */
    --error-red: #F74747;

    /* Secondary Colors */
    --gray-900: #111827;
    --gray-800: #1F2937;
    --gray-700: #374151;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
    --gray-400: #9CA3AF;
    --gray-200: #E5E7EB;
    --gray-100: #F3F4F6;
    --gray-50: #F9FAFB;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Pretendard, sans-serif;
    font-size: 100%; /* 기본 폰트 크기 설정 (1rem = 16px) */
}

body {
    margin: 0;
}

img, a {
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    height: auto;
    max-width: 100%
}

.container {
    max-width: 75rem; /* 1200px */
    width: 90%;
    margin: 0 auto;
    padding: 0 1.25rem; /* 20px */
}

/* navigation - start */

nav {
    height: 4.375rem; /* 70px */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

.nav-container img {
    max-width: 9.5625rem; /* 153px */
}

.button-square {
    background-color: var(--primary-100);
    font-size: 1rem; /* 16px */
    font-weight: 600;
    width: 8rem; /* 128px */
    height: 3rem; /* 48px */
    border-radius: 0.5rem; /* 8px */
    color: #ffffff;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation - end */

/* section main - start */

.main-top,
.main-bottom {
    background-color: #CFE5FF; /* 변수 없음 */
    height: 28.125rem; /* 450px */
    display: flex;
    align-items: flex-end;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.875rem; /* 30px */
}

.main-container img {
    width: 60%;
}

.main-container h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    margin: 0;
}

.button-round {
    background-color: var(--primary-100);
    font-size: 1.25rem; /* 20px */
    font-weight: 600;
    width: 22.3125rem; /* 357px */
    height: 3.5rem; /* 56px */
    border-radius: 2.5rem; /* 40px */
    color: #ffffff;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.875rem; /* 30px */
}

/* section main - end */

/* section card - start */

section.card {
    margin: 7% 0;
}

.card .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.875rem; /* 30px */

    background-color: #FCFCFC; /* 변수 없음 */
}

.card-container img {
    width: 57%;
}

.card-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    padding: 3%;
}

.card-text-container.left {
    text-align: right;
}

.card-container .label {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    color: var(--primary-100);
}

.card-container h2 {
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
    margin: 0;
    line-height: 3.5rem; /* 56px */
}

.card-container p {
    margin: 0;
    line-height: 2rem; /* 32px */
    font-weight: 500;
    font-size: 1.5rem; /* 24px */
}

/* section card - end */

footer {
    background-color: var(--gray-900);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 10rem; /* 160px */
    padding-top: 1.875rem; /* 30px */
}

footer a {
    color: var(--gray-200);
    font-size: 1rem; /* 16px */
    font-weight: 400;
}

footer p {
    color: var(--gray-400);
    font-size: 1rem; /* 16px */
    font-weight: 400;
    margin: 0;
}

.footer-center,
.footer-right {
    display: flex;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

footer img {
    width: 1.25rem; /* 20px */
}

/* section card - end */

@media (max-width: 768px) {
    img {
        max-width: 90%; /* 작은 화면에서 이미지가 더 작게 표시 */
    }
}