@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}  

/*랜딩페이지 */

.navigationbackground{
  background-color: #ffffff;
  height: 70px;
  position: sticky;
  bottom: 1px;
  top: 0;
  gap: 10px;
  z-index: 2;
}

.navigation {
  background-color: #ffffff;
  height: 70px;
  position: sticky;
  max-width: 1920px;
  margin: 0 auto;
  padding: 9px 200px 9px;
  bottom: 1px;
  top: 0;
  gap: 10px;
  z-index: 2;
  
}

  .navigation1 {
  background-color: #ffffff;
  height: 51px;
  max-width: 1920px;
  display: flex;
  justify-content:space-between
}

.logo{
  cursor: pointer;
}

.loginbutton {
  display: flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
}

  .landing {
  background-color: #CFE5FF;
  height: 540px; 
  top: 70px;
  display: flex;
  justify-content:center;
  align-items : flex-end;
  }

  .landing1 {
    background-color: #CFE5FF;
    width: 1110px;
    height: 340px; 
    top: 200px;
    left: 405px;
    gap: 7px;
    display: flex;
    }

    .landing2{
    cursor: pointer;
    }

  .yosobox {
    width: 357px;
    height: 260px;
    padding: 0,0,60px;
    gap: 32px;
    display: flex;
    flex-direction:column;
    justify-content :center;
}
  
  .landing3 {
    width: 746px;
    height: 340px;
}

.contentsbox{
  width: 988px;
  height: 444px;
  gap: 64px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.contentsbox1{
  width: 988px;
  height: 444px;
  gap: 64px;
  background-color: #fcfcfc;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.contentsbox2{
  width: 988px;
  height: 444px;
  gap: 64px;
  background-color: #fcfcfc;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.typebox1{
  width: 274px;
  height: 238px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typebox2{
  width: 317px;
  height: 238px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typebox3{
  width: 335px;
  height: 238px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotitem{
  height: 720px;
  background-color: #ffffff;
  display: flex;
  justify-content:center; 
  align-items:center;

}
  .badge{
   color: #3692ff;
   font-size: 18px;
   font-weight: bold;
   span
  }

  .title{
    color: #374151;
    font-size: 40px; 
    font-weight: bold;
  }

  .explan{
    color: #374151;
    font-size: 24px;
  }

.search{ 
  height: 720px;
  background-color: #ffffff; 
  display: flex;
  justify-content:center;
  align-items:center;
}

.register{
  height: 720px;
  background-color: #ffffff;
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 64px;
}

.blank{
  background-color: #fcfcfc;
  height: 678px;
  display: flex;
  flex-direction: column;
  justify-content :end;
}
.ad{
  height: 540px;
  top: 2908px;
  background-color: #CFE5FF; 
  display: flex;
  justify-content:center;
  align-items : flex-end;
}

.ad1{
  width: 1110;
  height: 397px;
  top: 143px;
  left: 405px;
  gap: 69px;
  display: flex;
}

.adbox{
  width: 295;
  height: 172;
  padding: 0px,0px,10px;
  gap: 10px;
  display: flex;
  align-items:center;
}

.footerbackground{
  background-color: #111827; 
}

.footer{
  height: 160px;
  top: 3448px;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #111827; 
  padding: 32px,200px,32px,200px;
  gap:10px;
}

.footerbox{
  height: 20px;
  color: #9ca3af;
  padding: 32px 200px 0px;
  display: flex;
  justify-content:space-between;
}

.brandname{
  height: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
}

.policy a{
  font-size: 16px;
  text-decoration: none;
}

.policy{
  color: #ffffff;
  width: 159px;
  height: 19px;
  font-size: 16px;
  gap: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sns{
  width: 116px;
  height: 20px;
  gap: 12px;
  display: flex;
  justify-content:center;
}

/* 여기서부터 로그인화면 */

.logincontainer {
  position: relative;
  top: 60px;
  width: 640px;
  height: 618px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
}

.logincontainer-signup {
  position: relative;
  top: 60px;
  width: 640px;
  height: 842px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
}

.inputcontainer{
  width: 640px;
  height: 446;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.inputcontainer-signup{
  width: 640px;
  height: 670;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.loginform{
  width: 640px;
  height: 300px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.loginform-signup{
  width: 640px;
  height: 542px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.email {
height: 93px;
width: 640px;
gap: 10;
color: #1F2937;
font-size: 18px;
font-weight: 500;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.nickname {
  height: 93px;
  width: 640px;
  gap: 10;
  color: #1F2937;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  input:focus {
    outline-color: #3692ff;
	}

#signup-email{
  width: 640px;
  height: 56px;
  padding: 16px, 24px, 16px;
  gap: 10px;
  background-color: #f3f4f6;
  color: #9CA3Af;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border-width: 0;
  }

#signup-nickname{
  width: 640px;
  height: 56px;
  padding: 16px, 24px, 16px;
  gap: 10px;
  background-color: #f3f4f6;
  color: #9CA3Af;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: none;
}

.password {
  height: 93px;
  width: 640px; 
  gap: 16px;
  color: #1F2937;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content:space-between;  
}

.input-password {
  position: relative;
}

.input-password .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#signup-password{
  width: 640px;
  height: 56px;
  padding: 16px, 24px, 16px;
  gap: 10px;
  background-color: #f3f4f6;
  color: #9CA3Af;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: none;
}

.password-repeat {
  height: 93px;
  width: 640px; 
  gap: 16px;
  color: #1F2937;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.input-password-repeat {
  position: relative;
}

.input-password-repeat .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#signup-password-repeat{
  width: 640px;
  height: 56px;
  padding: 16px, 24px, 16px;
  gap: 10px;
  background-color: #f3f4f6;
  color: #9CA3Af;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  border: none;
}

#loginbutton{
  width: 640px;
  height: 56px;
  padding: 16px, 124px, 16px;
  gap: 10px;
  background-color: #9ca3af;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  border: none; 
  cursor: pointer;
}

.snslogin{
  height: 74px;
  width: 640px;
  background-color: #e6f2ff; 
  border-radius: 8px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.snsloginbox{
  height: 42px;
  width: 594px;
  color: #1F2937;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
