/* 페이지 전체를 가운데 정렬하는 컨테이너 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* 텍스트 및 비밀번호 입력 스타일 */
input[type="text"], input[type="password"] {
  width: 800px;
  height: 60px;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
  background-color: rgba(243, 244, 246, 1);
}

/* 테이블 스타일 */
table {
  width: 280px;
  height: 250px;
  margin: auto;
  font-size: 18px;
}

/* 버튼 스타일 */
.btn {
  width: 800px;
  height: 60px;
  font-size: 25px;
  border: 0;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: rgba(54, 146, 255, 1);
}

/* 버튼이 클릭되었을 때 "클릭된" 효과를 적용 */
.btn.clicked {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

 /* 비활성화 상태의 버튼 스타일 */
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: rgba(156, 163, 175, 1);
}

/* 버튼 활성화 시 스타일 */
.btn:active {
  width: 800px;
  height: 60px;
  font-size: 25px;
  border: 0;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
  transform: scale(0.95);
  transition: transform 0.1s ease;
}


/* 오류 메시지 스타일 */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

input.error {
  border: 2px solid red;
}

footer{
  text-align: center;
  margin: 20px;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-login-container {
  display:flex;
  align-items: center;
  background-color: #e3f2fd;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;

}

.social-login-container p {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
  color: #333;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-button {
  background-color: transparent;
  border: none;
  padding:0;
  cursor: pointer;
  outline: none;
}

.social-button img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}



